html{
    line-height: 1em;
}
.content-box{
    margin-bottom: 0.2rem;
    background: #fff;
    border-bottom:1px solid #999;
    padding:0.4rem;
    overflow: hidden;
}
.content-box .content-title{
    line-height: 1.5rem;
    border-bottom:1px solid #ebebeb;
}
.content div{
    margin-bottom: 0.1rem;
}
.content h3{
    font-size: 0.6rem;
}
.content h4{
    margin: .1rem 0;
}
.yt{
    color: #777;
}
.iconfont-box ul li{
    float: left;
    width:16.666%;
    text-align: center;
    color: #0098dd;
}
.iconfont-box ul li i{
    font-size: 0.6rem;
}